.calculatorButton {
    background: black;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 22px;
    transition: all 0.6s;
    cursor: pointer;
    max-width: 4em;
    min-width: 4em;
    min-height: 4em;
    max-height: 4em;
    white-space: nowrap;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.big-input {
    width: 400px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
}
.small-input {
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
}

.div-mid{
    margin: auto;
}

.calculator {
    display: grid;
    gap: 5px;
    width: 20%;
    height: 500px;
    grid-template-areas:
        "text text text text"
        "clear del root pow"
        "lbracket rbracket x div"
        "seven eight nine multi"
        "four five six minus"
        "one two three plus"
        "empty zero dot result";
}

.display {
    font-size: 20pt;
    border: 1px solid black;
    border-radius: 2px;
    text-align: right;
    padding: 2px;
}

.historyTable tr td {
    padding: 5px;
}

.historyTable tr th {
    padding: 5px;
}

.margin-mid{
    display: block;
    margin: 0 auto;
}

.pow{
    grid-area: pow;
}

.lbracket{
    grid-area: lbracket;
}

.rbracket{
    grid-area: rbracket;
}

.div{
    grid-area: div;
}

.multi{
    grid-area: multi;
}

.minus{
    grid-area: minus;
}

.plus{
    grid-area: plus;
}

.result{
    grid-area: result;
}

.dot{
    grid-area: dot;
}

.operation {
    background: rgb(190, 73, 73);
}

.result {
    background: rgb(49, 82, 1);
}

.zero{
    grid-area: zero;
}

.one{
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.text{
    grid-area: text;
}

.neg{
    grid-area: neg;
}

.clear{
    grid-area: clear;
}

.del{
    grid-area: del;
}

.root{
    grid-area: root;
}
